<!DOCTYPE html>
<html>
  <head>
    <%- include('../head') %>
  </head>
  <body>
    <%- include('../titleAndNav') %>
    <form method="post" action="/pages">
      <label for="value">How many pages does your book have?</label>
      <input type="number" name="value" />
      <button type="submit">Continue</button>
    </form>
  </body>
</html>
