<!DOCTYPE html>
<html>
  <head>
    <%- include('../head') %>
  </head>
  <body>
    <%- include('../titleAndNav') %>
    <section>
      <p><%= text %></p>
    </section>
    <a href="/create/report/save">save</a>
  </body>
</html>
