<!DOCTYPE html>
<html>
  <head>
    <%- include('../head') %>
  </head>
  <body>
    <%- include('../titleAndNav') %>
    <form method="post" action="/create/signatures">
      <fieldset>
        <legend>Number of sheets to use in signatures</legend>
        <label for="3">3</label>
        <input type="checkbox" name="3" />
        <label for="4">4</label>
        <input type="checkbox" name="4" />
        <label for="5">5</label>
        <input type="checkbox" name="5" />
        <label for="6">6</label>
        <input type="checkbox" name="6" />
        <p>You must select at least one</p>
      </fieldset>
      <button type="submit">Continue</button>
    </form>
  </body>
</html>
