<!DOCTYPE html>
<html>
  <head>
    <%- include('../head') %>
  </head>
  <body>
    <%- include('../titleAndNav') %>
    <section>
      This calculator will ask you a series of questions about the book you wish
      to make and will create a little report as well as giving you instructions
      on how to create your book.
    </section>
    <form method="post" action="/create/start">
      <button type="submit">Continue</button>
    </form>
  </body>
</html>
