<!DOCTYPE html>
<html>
  <head>
    <%- include('head') %>
  </head>
  <body>
    <section>
      <header>Sorry something has gone wrong.</header>
      <p>Please try <a href="/">again.</a></p>
      <p>If the problem persist please add an issue <a href="https://github.com/hannahellis4242/book-binder/issues">here</a> including details of everything you have entered so far.</a></p>
      <p>Thank you for your help finding issues so that this tool can get better in future.</p>
    </section>
  </body>
</html>
