<!DOCTYPE html>
<html>
  <head>
    <%- include('head') %>
  </head>
  <body>
    <form method="post" action="/max">
      <label for="value"
        >What is the maximum number of pages you will allow your book to
        have?</label
      >
      <input type="number" name="value" />
      <button type="submit">Continue</button>
    </form>
  </body>
</html>
