<!DOCTYPE html>
<html>

<head>
  <%- include('head') %>
</head>

<body>
  <%- include('titleAndNav') %>
  <% if (error) { %>
  <section class="error"><%= error %></section>
  <% } else { %>
  <section class="result">
    <% if (result.length===0) { %>
    <p>There are no possible combinations of signatures that met your requirements. Please try again selecting more signature options or have a larger range of pages in your book.</p>
    <% } else { %>
    <p>
      Here is the different numbers each signature sizes you can use to create your book
    </p>
    <p>
    <ul>
      <% result.forEach((item) => { %>
      <li><%= item %></li>
      <% }); %>
    </ul>
    <section class="explain">
      <p>Where the notation used here is number of sheets per signature : the number of signatures of this size. With a , separating each different sizes. If a ; is included then this separates the number of pages for a book with this set of signatures.</p>
      <p>For example a book made out of two 4 sheet signatures and one 3 sheet signature would be</p>
      <p>4:2,3:1</p>
    </p>
    <p class="reminder">
      Remember that you can order your signatures however you like, these options are just the number required of a particular sized signature
    </p>
    <% } %>
  </section>
  <% } %>
</body>

</html>