<!DOCTYPE html>
<html>
  <head>
    <%- include('head') %>
    <script src="scripts/signature.js" defer></script>
  </head>
  <body>
    <%- include('titleAndNav') %>
    <section>
      <p>
        This calculator produces all of the different possible signature counts
        you could use to create a book with the given range of pages and the
        given range of sheets per signature.
      </p>
      <p>
        For example a book with a minimum of 120 pages and a maximum of 125
        pages made of the following list of allowed pages per signature
      </p>
      <p>3,4</p>
      <p>
        would try all possible combinations of 3 and 4 page signatures that give
        the range of pages
      </p>
      <form method="post" action="/signature/submit">
        <fieldset>
          <legend>Pages</legend>
          <label for="minimum">minimum:</label>
          <input
            id="min"
            type="number"
            name="minimum"
            required
            min="4"
            value="4"
          />
          <label for="maximum">maximum:</label>
          <input id="max" type="number" name="maximum" required value="4" />
        </fieldset>
        <button type="submit">Submit</button>
      </form>
    </section>
  </body>
</html>
