body {
  background-color: darkblue;
}

.error {
  color: red;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.result {
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 10px;
}

section {
  color: lightgray;
}

form {
  color: lightgray;
}

header.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1rem 5rem;
  background: linear-gradient(180deg, #6fb4fd 0%, #5caafc 100%);
  margin: 0;
  box-sizing: border-box;
}

.brand a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav li {
  list-style-type: none;
  margin-left: 3rem;
}

nav li > a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #3498db; /* Border color */
  background-color: #3498db; /* Background color */
  color: white; /* Text color */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Transition effects */
}

.button:hover {
  background-color: #2980b9; /* Darker background color on hover */
  color: white; /* Text color on hover */
}
