body {
  background-color: #789e9e;
  color: lightgray;
  padding: 2%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  font-size: large;
  color: white;
  font-weight: bold;
}

a {
  color: white;
}

a:focus {
  background-color: lightblue;
  color: black;
  text-decoration: none;
}

a:hover {
  background-color: lightblue;
  color: black;
  text-decoration: none;
}

a:active {
  background-color: black;
}

ul {
  list-style: none;
}
