<!DOCTYPE html>
<html>
  <head>
    <title>Book Binding</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <h1><%= message %></h1>
  </body>
</html>
